{% extends "base.html" %}

{% block head %}

  <script>
     var listCreated = false;
     
     function appendToList() {
         if(!listCreated) {
             $("#content1").append("<ul id='list' data-role='listview' data-inset='true'> </ul>");
             listCreated = true;
             $("#content1").trigger("create");
         }
         $('#list').append("<li>Item</li>");
         $("#list").listview("refresh);
     } 
  </script>

{% end %}

{% block body %}

  <input type="button" value="Add item to list" onclick="appendToList()" />

{% end %}


